h1 {
    font-size: 34px;
}

h2 {
    margin: 20px 0 5px 0;
    text-align: center;
    line-height: 35px;
}

hr {
    background-color: #333;
    border: 1px solid #333;
    height: 1px;
    width: 15%;
    border-radius: 5px;
}


body {
    margin: 0 0;
}

.anchor:target {
    display: block;
    position: relative;
    top: -60px;
}

.navBar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 0 0;
}


.navBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    text-align: center;
    width: auto;
    margin: 0 5% 30px 5%;
    display: block;
    overflow: hidden;
}

.space-row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}


#home {
    display: flex;
    justify-content: center;
}

#home p {
    font-size: 20px;
    font-style: italic
}

#aboutMe p {
    text-align: left;
}

.column-half {
    float: left;
    width: 50%;
    overflow: hidden;

}

.column-half p {
    margin: 0
}

.column-half img {
    width: auto;
    max-width: 100%;

    border-radius: 45px;
}

.column-quarter {
    float: left;
    width: 20%;
    color: white;
    background-color: #333;
    border-radius: 10px;
}

.column-quarter ul {
}

.column-quarter ul li {
    list-style-position: inside;
}

.vertical-center-container {
    display: flex;
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    height: 100%;
}

.vertical-center-item {
    width: 300px;
    margin: 5px;
    text-align: center;
}

input, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #333;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10px 3px;
    resize: vertical;
    display: inline-block;
}

textarea {
    height: 120px;
}

input[type=submit] {
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;

}

input[type=submit]:hover {
    color: #333;
    background-color: white;
    border: 3px solid #333;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    background: gray;
    color: white;
}