h2 {
    text-align: center;
}

body {
    margin: 0 0;
}

.navBar {
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    padding: 0 0;
}


.navBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navBar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    text-align: center;
    width: auto;
    display: block;
    overflow: hidden;
}

#home {
    display: flex;
    justify-content: center;
}

#projects {
    padding: 0 5%;
}

.column-half {
    float: left;
    width: 50%;
    overflow: hidden;

}

.column-half p {
    margin: 0
}

.column-half img {
    width: auto;
    max-width: 100%;
}

.column-quarter {
    float: left;
    width: 20%;
    margin: 2.5% 2.5%;
    color: white;
    background-color: #333;
}

.column-quarter ul {

}

.column-quarter ul li{
    list-style-position: inside;
}

.vertical-center-container {
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    height: 100%;
}

.vertical-center-item{
    width: 300px;
    margin: 5px;
    text-align: center;
}

.text-width-75 {
    margin: 0 12.5%;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;

    background: gray;
    color: white;
}

